h1 {
    color:red;
}

.book-title {
    background-color: darkorange;
}

.description {
    background-color: crimson;
    font-size: smaller;
    display: none;
}

.delete-book-btn {
    background-color: red;
}